<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>506349226813-9c6oqmi4uai5bejlib3a1dul9hr7sbck.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.506349226813-9c6oqmi4uai5bejlib3a1dul9hr7sbck</string>
	<key>API_KEY</key>
	<string>AIzaSyCm-cBcGffzv9AMr4EDjaFLsr1bF3kLg6g</string>
	<key>GCM_SENDER_ID</key>
	<string>506349226813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.EPAM.To-Do-List</string>
	<key>PROJECT_ID</key>
	<string>to-do-list-df318</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-list-df318.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506349226813:ios:35cb01d2529a79c9115354</string>
</dict>
</plist>